<mat-card class="example-card">
    <mat-card-title>{{title}}</mat-card-title>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput type="text" formControlName="firstName">
            <mat-error *ngIf="this.form.controls.firstName.hasError('required')">
              It is required field
            </mat-error>
            <mat-error *ngIf="this.form.controls.firstName.hasError('minlength')">
              Username should be at least 3 characters
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput type="text" formControlName="lastName">
            <mat-error *ngIf="this.form.controls.lastName.hasError('required')">
              It is required field
            </mat-error>
            <mat-error *ngIf="this.form.controls.lastName.hasError('minlength')">
              Username should be at least 3 characters
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>Phone</mat-label>
            <input matInput type="tel" formControlName="phone">
            <mat-error *ngIf="this.form.controls.phone.hasError('required')">
              It is required field
            </mat-error>
            <mat-error *ngIf="this.form.controls.phone.hasError('pattern')">
              Phone format should be +380101234567 or 0501234567
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Salary</mat-label>
            <input matInput type="number" formControlName="salary">
            <mat-hint align="start">in USD</mat-hint>
            <mat-error *ngIf="this.form.controls.salary.hasError('required')">
              It is required field
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email">
            <mat-error *ngIf="this.form.controls.email.hasError('required')">
              It is required field
            </mat-error>
            <mat-error *ngIf="this.form.controls.email.hasError('email')">
              Please write a correct email
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Birth date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="birth">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="this.form.controls.birth.hasError('required')">
              It is required field
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-radio-group aria-label="Select an option" formControlName="gender">
            <mat-label class="label">Gender</mat-label>
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
            <mat-radio-button value="other">Other</mat-radio-button>
          </mat-radio-group>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="onCancel()">Cancel</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Save</button>
      </mat-card-actions>
    </form>
  </mat-card>
  