.example-card {
    max-width: 500px;
    margin: 20px auto;    
  }
.row {
    display: flex;
    justify-content: center;
    gap: 20px;

    mat-radio-button {
        margin: 5px;
    }
}
.label {
    font-weight: bold;
    margin-right: 10px;
}
mat-form-field {
    margin: 5px 0;
}
